@media only screen and (min-width:800px) {
    $grey-color: #232221;
    $footer-color: #0f0c0a;
    $main-color: orange;
    $links-color: white;


    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        padding: 0px;
    }

    // this is the navigation section for desktop
    #navbar_mobile_tablet {
        display: none;
    }

    #navbar_desktop {
        display: grid;
        grid-auto-flow: column;
        background-color: $main-color;
        align-items: center;
        height: 100px;

        p {
            font-size: 1.2rem;
            word-spacing: .3rem;
        }

        #logo {
            justify-self: start;
            padding: 20px;

            .logo {
                height: 60px;
                width: 70px;
            }
        }

        #nav_links_tablet_desktop {
            display: grid;
            grid-auto-flow: column;
            align-items: center;

            img {
                width: 60px;
                height: 70px;
            }

            a {
                text-decoration: none;
                color: $grey-color;

                &:hover {
                    text-shadow: 3px 3px 6px $grey-color;

                }
            }
        }
    }


    // this is section for main for desktop
    #main {
        #grid_one {
            display: grid;
            grid-template-columns: 1fr 1fr;
        #special_deal{
            display: grid;
            min-height:60vh ;
            background-color: $main-color;
            h2{
                font-size: 1.5rem;
                padding: 20px 0px;
    
            }
            p{
                font-size: 1.2rem;
            }
            img{
                width: 100%;
                height: 50vh;
                object-fit: cover;
            }
        }
    }
            #under_front {

                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: $grey-color;
                gap: 10px;

                #offer {
                    display: grid;
                    align-items: center;
                    margin: 10px 0px;
                    background-color: $main-color;
                    font-weight: bold;

                    img {
                        object-fit: cover;
                        width: 100%;
                        order: 2;
                    }

                    div {
                        background-color: $main-color;
                        width: 100%;
                        color: $footer-color;
                        align-items: center;
                        margin: 20px 0px;

                    }

                }

                #delivery {
                    margin: 10px 0px;
                    color: $links-color;
                    font-weight: bold;
                    display: grid;
                    background-color: $main-color;
                    align-items: center;

                    img {
                        object-fit: cover;
                        width: 100%;
                        order:2;
                    }

                    div {
                        background-color: $main-color;
                        width: 100%;
                        color: $footer-color;
                        align-items: center;
                        margin: 20px 0px;
                    }


                
            }
        }
    }



    // this is the footer section for desktop
    #footer {

        #footer_links {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .list {
                margin: 15px;

            }
        }
    }
}