@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0px;
    margin: 0px;
    margin: 0 auto;
    text-align: center;
    display: grid;
}

#navbar {
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    #logo {
        display: grid;

        img {
            height: 60px;
            width: 70px;
            justify-self: start;
            padding: 10px;
        }
    }

    #nav_links {
        display: none;
        grid-auto-flow: row;

        a {
            text-decoration: none;
            background-color: orange;
            color: white;
            font-size: 2rem;
        }
    }

    .hamburger {
        display: none;
    }

    .label {
        display: grid;
    }

    #menu_mini {
        height: 40px;
        justify-self: end;
        padding: 10px
    }

    #show_content:checked #nav_links {
        display: block;
        background-color: orange;
        z-index: 5;
    }
}

#main {
    display: grid;
    padding: 0px;
    margin: 0px;
    width: 100%;

    #starting {
        background-color: black;
        font-family: cursive;
        justify-items: center;
        align-items: center;
        width: 100%;
        min-height: 80vh;

        #starting_image {
            height: 80vh;
            width: 100vw;
            object-fit: cover;
            opacity: .7;
        }

        #starting_text {
            position: absolute;
            top: 90px;
            z-index: 3;
            font-weight: bold;

            h1 {
                text-align: center;
                color: orange;
                font-size: 3rem;
            }

            .link {
                a {
                    color: orange;
                    font-size: 1.5rem;
                }
            }

            #starting_links {
                display: grid;
                position: relative;
                top: 100px;
                gap: 10px;

                #or {
                    color: orange;
                    font-size: 1.9rem;
                }

                a {
                    color: orange;
                    text-decoration: none;
                    font-size: 1.9rem;
                    font-weight: bold;
                    border: 1px solid #4a4948;
                    border-radius: 10px;
                    background-color: #232221;
                }
            }
        }
    }
}

#footer {
    display: grid;
    background-color: #232221;
    color:white;
    min-height: 20vh;
    place-items: center;

    #copyright {
        align-self: center;
    }
}