@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  margin: 0px;
  margin: 0 auto;
  text-align: center;
  display: grid;
}

#navbar {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
#navbar #tel a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
#navbar #hidden_menu_header {
  display: none;
  place-items: center;
}
#navbar #hidden_menu_header #menu_header {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  background-color: black;
  opacity: 1;
  top: 10px;
  right: 0px;
  z-index: 10;
}
#navbar #open_links:checked ~ #hidden_menu_header {
  display: grid;
  grid-auto-flow: row;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 50%;
  height: 100%;
  background-color: black;
  opacity: 0.85;
}
#navbar #open_links:checked ~ #hidden_menu_header #menu_header {
  text-align: center;
  align-self: center;
}
#navbar #logo,
#navbar #show_content {
  display: grid;
}
#navbar .logo {
  height: 60px;
  width: 70px;
  justify-self: start;
  padding: 10px;
}

#nav_links_mobile {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}
#nav_links_mobile a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.radio_button {
  display: none;
}

.menu_mini_image {
  height: 40px;
  justify-self: end;
  padding: 10px;
}

#main {
  display: grid;
  width: 100%;
  background-image: url("../../images/index/starting_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-items: center;
  min-height: 50vh;
}
#main #starting_text {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: orange;
}
#main .link {
  display: grid;
  align-self: start;
}
#main .link a {
  color: orange;
  font-size: 1.5rem;
}
#main #starting_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#main #starting_links a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  padding: 12.5px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #232221;
  width: auto;
  border: 1px solid orange;
  transition: all 0.3s ease-in-out;
}
#main #starting_links a:hover {
  background-color: orange;
  font-size: 1.7rem;
  color: black;
  padding: 14.5px;
}

#footer {
  display: grid;
  background-color: #0f0c0a;
  color: orange;
  place-items: center;
}
#footer #footer_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  text-align: center;
}
#footer #footer_links .list {
  display: grid;
  color: white;
  min-height: 170px;
  text-align: center;
  margin: 20px;
}
#footer #footer_links .list h2 {
  justify-self: start;
  font-size: 1rem;
}
#footer #footer_links .list a {
  font-size: 0.8em;
  justify-self: start;
  color: white;
  text-decoration: none;
}
#footer #follow_us h2 {
  font-size: 1rem;
}
#footer #follow_us .footer_icon {
  height: 30px;
  width: 30px;
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    padding: 0px;
    margin: 0px;
  }

  #footer #footer_links {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 800px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    padding: 0px;
  }

  #footer #footer_links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #footer #footer_links .list {
    margin: 30px;
    padding: 40px;
  }
}/*# sourceMappingURL=style.css.map */