@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Varela+Round&display=swap');
$grey-color: #232221;
$footer-color: #0f0c0a;
$main-color: orange;
$links-color: white;

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    display: grid;
    text-align: center;
    width: 100%;
}

// this section is for header
#navbar_desktop {
    display: none;
}

#navbar_mobile_tablet {
    background-color: orange;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    height: 10vh;

    #logo {
        display: grid;
        justify-items: start;
        box-sizing: border-box;

        .logo {
            height: 50px;
            width: 60px;
            padding: 10px;
        }
    }

    #tel {
        #phone_hidden_mobile {
            display: none;
        }

        a {
            color: black;
            text-decoration: none;
            font-size: 1rem;
        }
    }

    #minimized_links {
        #show_content {
            display: grid;

            .menu_mini_image {
                justify-self: end;
                height: 50px;
                width: 50px;
                box-sizing: border-box;
            }
        }


        #hidden_minimized_link_page {
            display: none;
            align-items: center;
            grid-auto-flow: row;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 50%;
            height: 100%;
            background-color: black;
            text-align: center;

            #nav_links_mobile {
                display: grid;
                grid-auto-flow: row;
                gap: 40px;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;

                }
            }

            #button_for_going_back_to_nav {
                position: absolute;
                top: 0px;
                right: 0px;

                img {
                    height: 80px;
                    width: 80px;
                }
            }

        }


        #open_links:checked~#hidden_minimized_link_page {
            display: grid;
        }
    }

}


.radio_button {
    display: none;
}

// end of header section
// we will hide the desktop and tablet content in mobile view
#main_tablet_desktop {
    display: none;
}

#note {
    font-size: .8rem;
    color: $links-color;
}

// this section is for the main content section
#main_mobile {
    background-color: $grey-color;

    #main_heading {
        color: orange;
        background-color: $footer-color;

        margin-top: 20px;
        

        h1 {
            font-size: 2rem;
            padding: 20px 0px;
        }
    }

    #contact_methods_list {
        display: grid;
        margin-top: 40px;

        .contact_method {
            display: grid;
            margin: 30px 0px;
            align-items: center;
            justify-items: center;
            text-align: center;

            .contact_method_icon {
                height: 30px;
                width: 35px;
                background-color: white;
                text-align: center;
                object-fit: contain;
                padding: 7px;
                border: 1px solid orange;
                border-radius: 100%;
            }

            .contact_method_heading {
                color: orange;
                margin: 15px 0px;
            }

            .contact_method_information {
                color: white;
                line-height: 1.4;

                a {
                    color: white;
                    text-decoration: none;
                }

                #iframe {
                    height: 300px;
                    width: 100%;
                    margin-top: 15px;
                }

                #form {
                    place-items: center;
                    display: grid;
                    grid-auto-flow: row;
                    gap: 5px;
                    width: 300px;
                    input[type=text],
                    input[type=number],
                    textarea {
                        line-height: 1.5;
                        padding: 5px;
                        border: 2px solid orange;
                        align-items: center;
                        width: 100%;
                    }

                    input[type=submit] {
                        background-color: orange;
                        padding: 5px;
                        border-radius: 10px;

                    }
                }
            }
        }
    }
}

// this section is for footer
#footer {
    display: grid;
    background-color: $footer-color;
    color: $main-color;
    place-items: center;

    #footer_links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;

        .list {
            display: grid;
            color: white;
            min-height: 170px;
            text-align: start;
            margin: 10px;

            h2 {

                justify-self: start;
                font-size: 1.5rem;
                margin: 10px;
            }

            a {
                margin: 10px;
                font-size: .9em;
                justify-self: start;
                color: white;
                text-decoration: none;

                &:hover {
                    text-shadow: 3px 3px 6px white;
                }
            }
        }
    }

    #follow_us {
        h2 {
            font-size: 1rem;
        }

        .footer_icon {
            height: 40px;
            width: 40px;
            margin: 10px;
        }
    }

    #disclaimer {
        color: lightgrey;
        margin: 10px;

        p {
            font-size: 1rem;
        }
    }
}