@media only screen and (min-width:800px) {
    $grey-color: #232221;
    $footer-color: #0f0c0a;
    $main-color:orange;
    $links-color:white;


    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        padding: 0px;
    }

    // this is the navigation section for desktop
    #navbar_mobile_tablet {
        display: none;
    }

    #navbar_desktop {
        display: grid;
        grid-auto-flow: column;
        background-color: $main-color;
        align-items: center;
        height: 100px;

        p {
            font-size: 1.2rem;
            word-spacing: .3rem;
        }

        #logo {
            justify-self: start;
            padding: 20px;

            .logo {
                height: 60px;
                width: 70px;
            }
        }

        #nav_links_tablet_desktop {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            img{
                width:60px;
                height: 70px;
            }

            a {
                text-decoration: none;
                color: $grey-color;

                &:hover {
                    text-shadow: 3px 3px 6px $grey-color;

                }
            }
        }
    }

    // here is the end of header css
    #main_mobile{
        display: none;
    }
    #hours{
    .contact_method_information{
        p{
            padding: 10px 0px;
        }
    }
    }
    #location{
        height: 70vh;
        iframe{
            height: 100%;
        }
    }

    #phone {
        border: none;
    }
    #email{
        border-bottom:none;
    }

    #main_tablet_desktop {
        display: grid;
        #main_heading{
            margin-top: 30px;
            h1{
                font-size: 5rem;
            }
        }

        #contact_methods_list {
            display: grid;
           grid-template-columns: 1fr;
               
            #phone_and_address {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
              align-items: start;
                width: 100%;

                .contact_method {
                    display: grid;
                   place-items: center;
                    padding: 10px;
                   
                }
            }
        }
    }

    // footer section started
    #footer {

        #footer_links {
            grid-template-columns: 1fr 1fr 1fr 1fr;
    
            .list {
                margin: 15px;
               
            }
        }
    }

    // the underneath bracket is for closing the media query bracket
}