@media only screen and (min-width:500px) {
    $grey-color: #232221;
    $footer-color: #0f0c0a;
    $main-color: orange;
    $links-color: white;
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0px;
    margin: 0px;
}
    // this is the main section
    #menu{
        #menu_list_all{
            grid-template-columns: 1fr 1fr 1fr;
            .background_hidden_menu{
                width:100%
            }
        }
    }
    
    // this section is for the footer for desktop
    #footer {

        #footer_links {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .list {
                margin: 30px;
                padding: 40px
            }
        }
    }
}