@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Varela+Round&display=swap');
$grey-color: #232221;
$footer-color: #0f0c0a;
$main-color: orange;
$links-color: white;

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    display: grid;
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
}

// this section is for header
#navbar_desktop {
    display: none;
}

#navbar_mobile_tablet {
    background-color: orange;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    height: 10vh;

    #logo {
        display: grid;

        .logo {
            height: 40px;
            width: 50px;
            justify-self: start;
            padding: 10px;
        }
    }

    #tel {
        #navbar_phone_hidden_mobile {
            display: none;
        }

        a {
            color: black;
            text-decoration: none;
            font-size: 1rem;
        }
    }

    #minimized_links {
        #show_content {
            display: grid;

            .menu_mini_image {
                justify-self: end;
                height: 40px;
                width: 40px;
                padding: 10px;
            }
        }


        #hidden_minimized_link_page {
            display: none;
            align-items: center;
            grid-auto-flow: row;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 50%;
            height: 100%;
            background-color: black;
            text-align: center;
            opacity: .9;

            #nav_links_mobile {
                display: grid;
                grid-auto-flow: row;
                gap: 20px;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;
                }
            }

            #button_for_going_back_to_nav {
                position: absolute;
                top: 0px;
                right: 0px;

                img {
                    height: 40px;
                    width: 40px;
                }
            }

        }


        #open_links:checked~#hidden_minimized_link_page {
            display: grid;
        }
    }

}


.radio_button {
    display: none;
}


// this section is for main
main {
    background-color: #2e2c2c;
    min-height: 60vh;
}

#heading {
    color: orange;
    font-size: 1.1rem;
    padding: 10px;
}

#menu {

    // this section is for all of the menu thumbnails
    #menu_list_all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 70vh;
        overflow: scroll;

        .radio_button {
            display: none;
        }

        label {
            display: grid;
            margin: 10px;

            //    this section is for one particular thumbnail
            .menu_thumbnail_image {
                height: 100px;
                width: 100%;
                border-radius: 10px;
                border: 1px solid $main-color;
                object-fit: cover;
            }

            .menu_thumbnail_text {
                color: $links-color;
                font-size: 1rem;
            }
        }

        // this rule has to be changed for tablet and desktop
        .background_hidden_menu {
            display: none;
            grid-auto-flow: row;
            text-align: center;
            place-items: center;
            position: absolute;
            top: 10vh;
            left: 0px;
            background-color: #0f0c0a;
            width: 100%;
            min-height: 60vh;
            overflow: scroll;

            .button_for_closing {
                display: grid;
                color: orange;
                place-items: center;

                .header_hidden_menu {
                    display: grid;
                    grid-auto-flow: column;
                    place-items: center;

                    img {
                        height: 40px;
                        width: 40px;

                    }
                }

            }

            .any_type_menu {

                .menu_item {
                    display: grid;
                    place-items: center;
                    color: white;
                    display: grid;
                    align-items: center;
                    box-sizing: border-box;
                    width: 100%;

                    img {
                        margin: 15px;
                        width: 100%;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                    button {
                        background-color: orange;
                        width: 100%;
                        padding: 5px;
                        border-radius: 5px;
                    }

                    h4 {
                        color: orange;
                        font-size: 1.3rem;
                    }

                    p {
                        justify-items: start;
                    }

                }
            }
        }
        // these rules will help open menu because they are radio buttons
        #open_menu_pizza:checked~#hidden_menu_pizza {
            display: grid;
        }

        #open_menu_calzone:checked~#hidden_menu_calzone {
            display: grid;
        }

        #open_menu_pasta:checked~#hidden_menu_pasta {
            display: grid;
        }

        #open_menu_sides:checked~#hidden_menu_sides {
            display: grid;
        }

        #open_menu_drinks:checked~#hidden_menu_drinks {
            display: grid;
        }

        #open_menu_desserts:checked~#hidden_menu_desserts {
            display: grid;
        }
    }
}

// this section is for footer

#footer {
    display: grid;
    background-color: $footer-color;
    color: orange;
    place-items: center;

    #footer_links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        text-align: center;

        .list {
            display: grid;
            color: white;
            min-height: 170px;
            text-align: start;
            margin: 20px;

            h2 {

                justify-self: start;
                font-size: 1.5rem;
            }

            a {
                font-size: .9em;
                justify-self: start;
                color: white;
                text-decoration: none;

                &:hover {
                    text-shadow: 3px 3px 6px white;
                }
            }
        }
    }

    #follow_us {
        h2 {
            font-size: 1rem;
        }

        .footer_icon {
            height: 30px;
            width: 30px;
            margin: 10px;
        }
    }
}