@media only screen and (min-width:800px) {
    $grey-color: #232221;
    $footer-color: #0f0c0a;


    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        padding: 0px;
    }

    // this is the navigation section for desktop
    #navbar_mobile_tablet {
        display: none;
    }

    #navbar_desktop {
        display: grid;
        grid-auto-flow: column;
        background-color: orange;
        align-items: center;
        height: 100px;

        p {
            font-size: 1.2rem;
            font-weight: bold;
            word-spacing: .3rem;
        }

        #logo {
            justify-self: start;
            padding: 20px;

            .logo {
                height: 60px;
                width: 70px;
            }
        }

        #nav_links_tablet_desktop {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            img{
                width:60px;
                height: 70px;
            }

            a {
                text-decoration: none;
                color: $grey-color;

                &:hover {
                    text-shadow: 3px 3px 6px $grey-color;

                }
            }
        }
    }
    /* this section is for main */
    
    #menu{
        #menu_list_all{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    // this section is for the footer for desktop
    #footer {

        #footer_links {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .list {
                margin: 30px;
                padding: 40px
            }
        }
    }
}