
$grey-color: #232221;
$footer-color: #0f0c0a;

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0px;
    margin: 0px;
    margin: 0 auto;
    text-align: center;
    display: grid;
}


// this section is for header
#navbar_tablet_desktop {
    display: none;
    height: 10vh;
}

#navbar {
    background-color: orange;
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    #tel {
        a {
            color: black;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }



    #hidden_menu_header {
        display: none;
        align-items: center;
        grid-auto-flow: row;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;
        width: 50%;
        height: 100%;
        background-color: black;
        opacity: .85;
        text-align: center;


        #menu_header {
            display: grid;
            text-align: center;
            grid-template-columns: 1fr;
            position: absolute;
            background-color: black;
            opacity: 1;
            top: 10px;
            right: 0px;
            z-index: 10;

        }

    }

    #open_links:checked~#hidden_menu_header {
        display: grid;


        #menu_header {
            text-align: center;
            align-self: center;
        }
    }

    #logo,
    #show_content {
        display: grid;
    }

    .logo {
        height: 60px;
        width: 70px;
        justify-self: start;
        padding: 10px;
    }
}

#nav_links_mobile {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;

    a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }
}

.radio_button {
    display: none;
}

.menu_mini_image {
    height: 40px;
    justify-self: end;
    padding: 10px;
}

// this section is for main
main {
    background-color: #2e2c2c;
    min-height: 60vh;
}

#heading {
    color: orange;
    font-size: 1.3rem;
    padding: 10px;
}

#menu {
    // this section is for all of the menu thumbnails
    #menu_list_all {     
        display: grid;
        grid-template-columns: 1fr 1fr;
        //    this section is for one particular thumbnail
        .menu_thumbnail_image {
            margin: 15px;
            height: 140px;
            width: 160px;
            border-radius: 15px;
            object-fit: cover;
        }
        .menu_thumbnail_text{
            color:white
        }
        // this rule has to be changed for tablet and desktop
        .background_hidden_menu {
            display: none;
            grid-auto-flow: row;
            text-align: center;
            place-items: center;
            position:absolute;
            top:10vh;
            left:0px;
            background-color: #0f0c0a;
            width: 100%;
            min-height: 60%;

        }
        .button_for_closing{
            display: grid;
            color: orange;
            place-items: center;
            .header_hidden_menu{
                display: grid;
                grid-auto-flow: column;
                place-items: center;
                img{
                    height: 40px;
                    width: 40px;
        
                   }
            }
          
        }

        .menu_item {
            display: grid;
            place-items: center;
            color: white;
            display: grid;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            button{
                background-color: orange;
                width:100%;
                padding:5px;
                border-radius: 5px;
            }
            h4{
                color: orange;
                font-size: 1.3rem;
            }
            p{
                justify-items: start;          
            }

            img {
                margin: 15px;
                width: 100%;
                border-radius: 15px;
                object-fit: cover;
            }

            h2 {
                padding: 5px;
                text-align: center;
                color: white;
                border-radius: 15px;
                width: max-content;
            }
        }

        .radio_button {
            display: none;
        }

        #open_menu_pizza:checked~#hidden_menu_pizza {
            display: grid;   
        }
        #open_menu_calzone:checked~#hidden_menu_calzone{
            display: grid;
        }
        #open_menu_pasta:checked~#hidden_menu_pasta{
            display: grid;
        }
        #open_menu_sides:checked~#hidden_menu_sides{
            display:grid;
        }
        #open_menu_drinks:checked~#hidden_menu_drinks{
            display: grid;
        }
        #open_menu_desserts:checked~#hidden_menu_desserts{
            display: grid;
        }
    }
}

// this section is for footer

#footer {
    display: grid;
    background-color: $footer-color;
    color: orange;
    place-items: center;

    #footer_links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        text-align: center;

        .list {
            display: grid;
            color: white;
            min-height: 170px;
            text-align: start;
            margin: 20px;

            h2 {

                justify-self: start;
                font-size: 1.5rem;
            }

            a {
                font-size: .9em;
                justify-self: start;
                color: white;
                text-decoration: none;

                &:hover {
                    text-shadow: 3px 3px 6px white;
                }
            }
        }
    }

    #follow_us {
        h2 {
            font-size: 1rem;
        }

        .footer_icon {
            height: 30px;
            width: 30px;
            margin: 10px;
        }
    }
}