@media only screen and (min-width:800px) {
    $grey-color: #232221;
    $footer-color: #0f0c0a;
    $main-color:orange;
    $links-color:white;

    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        padding: 0px;
    }

    // this is the navigation section for desktop
    #navbar_mobile_tablet {
        display: none;
    }

    #navbar_desktop {
        display: grid;
        grid-auto-flow: column;
        background-color: orange;
        align-items: center;
        height: 100px;

        
        #logo {
            justify-self: start;
            padding: 20px;

            .logo {
                height: 60px;
                width: 70px;
            }
        }

        #nav_links_tablet_desktop {
            display: grid;
            grid-auto-flow: column;
            align-items: center;

            img {
                width: 60px;
                height: 70px;
            }

            a {
                text-decoration: none;
                color: $grey-color;

                &:hover {
                    text-shadow: 3px 3px 6px $grey-color;

                }
            }
        }
    }

    /* this section is for main */

    #menu {
        #menu_list_all {
            grid-template-columns: 1fr 1fr 1fr;

            label {
                display: grid;
                
                .menu_thumbnail_image{
                    height:400px;
                }
                .menu-thumbnail_text{
                    font-size: 2.5rem;
                }
            }
            .background_hidden_menu{
                .button_for_closing{
                    .header_hidden_menu_back{
                        img{
                            height: 150px;
                            width: 150px;
                        }
                        .header_hidden_menu_heading{
                            font-size: 6rem;
                        }
                    }
                }
                .any_type_menu{
                    grid-template-columns: 1fr 1fr;
                    .menu_item{
                        img{
                            height:400px;
                            width: 100%;
                        }
                        .menu_item_description{
                            margin: 15px;
                            button{
                                width: 200px;
                                justify-self: start;
                                
                            }
                            h4{
                                margin:5px 5px 0px 5px;
                            }
                            p{
                                margin:0px;
                            }
                        }
                    }
                }
            }
        }
    }


// this section is for the footer for desktop
#footer {

    #footer_links {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .list {
            margin: 15px;
           
        }
    }
}
}