@media only screen and (min-width:800px) {
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Varela+Round&display=swap');
    $grey-color: #232221;
    $footer-color: #0f0c0a;
    $main-color: orange;
    $links-color: white;



    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        padding: 0px;
    }

    // this is the navigation section for desktop
    #navbar_mobile_tablet {
        display: none;
    }

    #navbar_desktop {
        display: grid;
        grid-auto-flow: column;
        background-color: $main-color;
        align-items: center;
        height: 100px;

        p {
            font-size: 1.2rem;
            word-spacing: .3rem;
        }

        #logo {
            justify-self: start;
            padding: 20px;

            .logo {
                height: 60px;
                width: 70px;
            }
        }

        #nav_links_tablet_desktop {
            display: grid;
            grid-auto-flow: column;
            align-items: center;

            img {
                width: 60px;
                height: 70px;
            }

            a {
                text-decoration: none;
                color: $grey-color;

                &:hover {
                    text-shadow: 3px 3px 6px $grey-color;

                }
            }
        }
    }

    // end of header
    #main {
        #main_heading {
            h1 {
                font-size: 5rem;
            }
        }

        #content {
            display: grid;
            align-items: center;
            justify-items: center;
            .content_item {
                display: grid;
                align-items: center;
                justify-items: center;
                width: 100%;
                .content_item_heading {
                    font-size: 3rem;
                    width: 60%;
                }

                
                .content_actual_first {
                   display: grid;
                   width: 60%;
                   place-items: center;
                    .content_item_image {
                        display: grid;
                        height: 50vh;
                        width: 100%;
                    }
                }

                .content_actual_second {
                    display: grid;
                    width: 60%;
                    place-items: center;
                    .content_item_image {
                        display: grid;
                        height: 50vh;
                        width: 100%;
                    }
                }

                .content_item_paragraph {
                    display: grid;
                    padding:7%;
                    min-height: 50vh;
                    width: 50%;
                    text-align: center;
                    align-items: center;
                   justify-self: center;
                    border-radius: 50%;
                    font-size: 1.4rem;
                    line-height: 1.5;
                }
                
            }


            #iframe {
                display: none;
            }

            #iframe_desktop {
                display: grid;
                width: 60%;
                place-items: center;
                

                .content_item_heading_iframe {
                    font-size: 3rem;
                    color: $links-color;
                    background-color: $footer-color;
                    padding: 30px 0px;
                    margin: 20px 0px;
                    width: 100%;
                }

                #all_iframe {

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;

                    .iframe_content {
                        display: grid;
                        height: 60vh;

                        iframe {

                            width: 100%;
                            height: 100%;

                        }
                    }
                }

            }
        }
    }

    // this section is for footer
    #footer {

        #footer_links {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .list {
                margin: 15px;

            }
        }
    }

}