@media only screen and (min-width:800px) {
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Varela+Round&display=swap');
    $grey-color: #232221;
    $footer-color: #0f0c0a;



    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        padding: 0px;
    }

    // this is the navigation section for desktop
    #navbar_mobile_tablet {
        display: none;
    }

    #navbar_desktop {
        display: grid;
        grid-auto-flow: column;
        background-color: orange;
        align-items: center;
        height: 100px;

        p {
            font-size: 1.2rem;
            word-spacing: .3rem;
        }

        #logo {
            justify-self: start;
            padding: 20px;

            .logo {
                height: 60px;
                width: 70px;
            }
        }

        #nav_links_tablet_desktop {
            display: grid;
            grid-auto-flow: column;
            align-items: center;

            img {
                width: 60px;
                height: 70px;
            }

            a {
                text-decoration: none;
                color: $grey-color;

                &:hover {
                    text-shadow: 3px 3px 6px $grey-color;

                }
            }
        }
    }

    // end of header
    #main {
        #main_heading {
            h1 {
                font-size: 5rem;
            }
        }

        #content {
            .content_item {
                .content_item_heading {
                    font-size: 1.7rem;
                }

                .content_actual {
                    iframe {
                        width: 100%;

                    }

                    .content_item_image {
                        display: grid;
                    }
                }

                .content_item_paragraph {
                    display: grid;
                }
            }
        }
    }

    // this section is for footer
    #footer {

        #footer_links {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .list {
                margin: 15px;

            }
        }
    }

}