@media only screen and (min-width:800px) {
    $grey-color: #232221;
    $footer-color: #0f0c0a;
    $main-color: orange;
    $links-color: white;
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0px;
    margin: 0px;
}

    /* this section is for main */
    
    #menu{
        #menu_list_all{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    // this section is for the footer for desktop
    #footer {

        #footer_links {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .list {
                margin: 30px;
                padding: 40px
            }
        }
    }
}