@media only screen and (min-width:500px) {
    $grey-color: #232221;
    $footer-color: #0f0c0a;
    $main-color: orange;
    $links-color: white;

    * {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0px;
        margin: 0px;
    }

    #navbar_desktop {
        display: none;
    }

    #navbar_mobile_tablet {
        height: 10vh;
        display: grid;
        align-items: center;

        #logo {
            .logo {
                padding: 10px;
                height: 70px;
                width: 80px;
            }
        }

        #tel {
            #phone_hidden_tablet_desktop {
                display: none;

            }

            #phone_hidden_mobile {
                display: grid;
                font-size: 1.5rem;
            }
        }

        #minimized_links {
            #show_content {
                .menu_mini_image {
                    height: 90px;
                    width: 80px;
                }
            }

            #hidden_minimized_link_page {
                #button_for_going_back_to_nav {
                    img {
                        height: 100px;
                        width: 100px;
                    }
                }
            }

            #nav_links_mobile {
                a {
                    padding: 20px;
                }
            }
        }
    }

    /* this section is for main */
    .for_mobile {
        display: none;
    }

    #main {
        #main_heading {
            h1 {
                font-size: 4rem;
            }
        }

        #content {
            .content_item {
                margin: 30px 0px;
                .content_item_heading {
                    font-size: 2.5rem;
                    margin: 30px 0px;
                    order: 1;
                }

                .content_actual_first {
                    display: grid;
                    place-items: center;
                    grid-template-columns: 1fr 1fr;
                    order: 2;
                    margin: 10px 4px;

                    .content_item_image {
                        display: grid;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .content_actual_second {
                    display: grid;
                    place-items: center;
                    grid-template-columns: 1fr 1fr;
                    margin: 10px 4px;
                    order: 4;

                    .content_item_image {
                        display: grid;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .content_item_paragraph {
                    padding: 8%;
                    margin: 10px 4px;
                    box-sizing: border-box;
                    order: 3;

                }

            }


        #iframe {
            display: grid;
            place-items: center;
            width: 100%;
            margin: 20px auto;

            .content_item_heading_iframe {
                font-size: 2.5rem;
                color: $links-color;
                background-color: $footer-color;
                width: 100%;
                margin: auto;

            }

            .iframe_content {
                width: 100%;
                height: 50vh;
                margin: 20px auto;

                iframe {
                    width: 100%;
                    height: 100%;

                }
            }
        }
    }
}

// this section is for the footer for desktop
#footer {
    #footer_links {
        grid-template-columns: 1fr 1fr;

        .list {
            margin: 10px;
            padding: 10px;

            h2 {
                font-size: 1.5rem;
            }

            a {
                font-size: 1rem;
            }
        }
    }

    #follow_us {
        h2 {
            font-size: 1.5rem;
        }

        .footer_icon {
            height: 60px;
            width: 60px;
        }
    }

    #disclaimer {
        p {
            font-size: 1.2rem;
        }
    }
}
}